@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
:root{ font-size: 62.5% }
body {
	font-family: sans-serif;
	max-width: 70vw;
	margin: 2.5rem auto;
	font-size: 2rem;
	padding: 2.5rem;
	box-sizing: border-box;
	border: dashed 0.25rem;
}
h1 {
	margin: 0 0 1rem 0;
	font-size: 3.2rem;
	text-decoration: underline;
}
h2 {
	margin: 0 0 1rem 0;
	font-size: 2.4rem;
}